:root {
    --background: rgb(43, 154, 126);
    --secondary: rgb(12, 96, 75);
}

body {
    background-color: var(--background);
}

.hidden {
    display: none;
}

.shown {
    display: block;
}



#question-area ol li {
    font-size: 2vw;
    margin-left: 2%
}

#question {
    text-align: center;
}

.answer:hover {
    cursor: pointer;
    background-color: var(--secondary);
    transition-duration: 2s;
}

#warning {
    color: rgb(136, 0, 0);
    font-weight: bold;
}