:root {
    --background: rgb(43, 154, 126);
}

body {
    background-color: var(--background);
}

.hidden {
    display: none;
}

.shown {
    display: block;
}

#question-area ol li {
    font-size: 2vw;
    margin-left: 2%
}

#question {
    text-align: center;
}